<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include("./layout/head",{
            title: "トップ"
        }); %>
    </head>
    <body>

        <footer>
            <%- include("./layout/footer"); %>
        </footer>
    </body>
</html>